@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Register a new Stylist</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    
    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)

    <input type="submit" value="Add new Stylist"/>
}
<p>@Html.ActionLink("Show all Stylists", "Index")</p>