@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist;


<h2>Clients currently booked with @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.FirstName): </h2>
<hr />
<h3>Clients: </h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>This stylist has no current bookings</p>
}

@foreach (Client client in Model.Clients)
{
  <li>Name: @client.FirstName @client.LastName</li>
}
</ul>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Book with this Stylist", "Create", "Clients")</p>
